/*
    Autor: Rafael Sánchez
    Cédula de Identidad: 30.393.016
    Multimedia y Diseño Web 
    N-913
*/


*{
    margin: 0;
    padding: 0;

}

html{

    scroll-behavior: smooth;
    transition: 0.5;

}

.container{

    display: table;
    width: 100%;
    height: 100%;

}

header{

    display: table;
    width: 100%;
    height: 300px; 
    background-image: url(../img/parkinson2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.header2{

    display: table;
    width: 100%;
    height: 300px; 
    background-image: url(../img/contactos.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.navegacion{
    background-color: rgb(231, 229, 229);
    color: black;
 }
.navegacion ol{
    display: flex;
 }
.navegacion ol li{
    list-style: none;
    border-right: 1px solid rgb(88, 118, 146);
 }
 
.navegacion ol li a{
    text-decoration: none;
    display: block;
    padding: 18px 18px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.navegacion ol li a:hover{
    background-color: rgb(166, 226, 241);
    color:black;
    transition: all .3s;
    
}


.activo{
    background-color: rgb(107, 163, 163);
    color:black;
}

 

.cuerpo{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: table;   
    background: linear-gradient(rgb(255, 255, 255), #96f3ff);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
.cuerpo ol li{
    margin-left: 10%;
    margin-right: 5%;
}

p{

    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: table;
    text-align: justify;
    margin-bottom: 3%;
    margin-top: 3%;
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.imagen{

    display: table;
    margin: auto;
    width: 430px;
    height: 300px;
    border: black 2px solid;

}

.imagenVertical{

    display: table;
    margin: auto;
    width: 570px;
    height: 300px;
    border: black 2px solid;

}


h2{
    text-shadow: 3px 2px 4px rgb(32, 32, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 4%;
    margin-bottom: 1%;
    color: black;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1%;
    margin-left: 5%;
    color: black;
}

.contactos{
    text-align: center;
}

.contactoimg{
    margin: 0 5px;
}
.contactos1{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.contactosh2{
    text-align: center;
}
.social{
    display: flex;
    justify-content: center;

}

.contact{
    display: flex;
    justify-content: center;
}

.formulario{
    padding-left: 10%;
}

.contact label{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    width: 30%;
    
}

.contact textarea{
    resize: none;
}


.contact button[type=submit]{
    width: 35%;
    margin-left: 10%;
    cursor: pointer;
    background-color: rgb(216, 216, 216);
    text-transform:uppercase;
}

.contact button[type=submit]:hover{
    background-color: rgb(37, 32, 32);
    color: white;
}



.contact button[type=reset]{
    width: 35%;
    cursor: pointer;
    background-color: rgb(216, 216, 216);
    text-transform:uppercase;
}

.contact button[type=reset]:hover{
    background-color: rgb(37, 32, 32);
    color: white;
}

footer{
    display: table;
    width: 100%;
    height: 100px;
    background-color: rgb(138, 135, 135);
    color: white;
    text-align: center;
    padding-top: 1.5%;
}
